[class^="spanheading"]{
	display: inline-block !important;
	width: 100%;
}

[class^="spanheading"] h3 {
	display: inline-block !important;
}

button.Biz-text-allFAQ {
  border: 1px #ee8022 solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin-top: 25px !important;
  background-color: white;
  cursor: pointer;
  color: #ee8022 !important;
}

.panel ul {
  list-style:disc !important; 
  padding: 0 3em!important;
}

.lblFaqDropDown {
  padding: 0 1em;
  font-weight: bold;
}

.bizText-highlight {
  font-weight: bolder;
}

.BizText-FAQ-all-cat, .BizText-FAQ-all {
  color: #ee8002;
  cursor: pointer;
}

.BizText-FAQ-all-cat {
  display: inline-block;
  font-size: 60%;
  margin-left: 10px;
}

.BizText-FAQ-all {
  font-size: 100%;
  font-weight: bold;
}

.biztext-icon {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.biztext-icon img {
  width: 30px;
  margin-left: 10px;
}


.biz-text-wrapper p {

	font-size:14px;
}

.biz-text-wrapper  {

	font-family: Arial, Helvetica, sans-serif;

}

.preview-heading {

	padding:25px 0 15px 0;
	

}


/* links support */

.biztext-info a {

	color:#ee8022;

} 

.biztext-info a:hover {

	color:#3b74b2;
}


.jscolor {

	width:14em;
	margin:0;

}

.accordion {
	 cursor: pointer;
	 padding: 5px 16px;
	 width: 100%;
	 border: none;
	 text-align: left;
	 outline: none;
	 font-size: 15px;
	 transition: 0.4s;
   position:relative;
   background-color: white !important;
}

 .accordion:before {
	content: "+";  
	font-size: 1.5em;
	color: #109848 !important;
	left: 0;
	top: 0;
	position:absolute;
}

.accordion.active:before {
	 
	content: "-"; 
	color:#22305d !important;
	left: 0;
}

#site-preview {
	background:#eeeeee;
	padding:20px;
	


}


.accordion:hover.accordion:before {
	font-weight:bolder;
	color:#000 !important;
	 
}

.accordion.active.accordion:before {

	font-weight:bolder;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}




.learn-widget {

	color:#3b74b2;
	cursor:pointer;

}

.learn-widget:hover {

	color:#ee8022;
	
}


/* tool tip */

.tooltip:before {
    
    
   content: "\003F";
   position:absolute;
   color:#fff;
   font-size:1em;
   top:-18px;
   background:#ee8022;
   border-radius:5em;
   width:1.5em;
   height:1.5em;
   text-align:center;



}

.tooltip {
  position: relative;
  display: inline-block;
  
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.regular-text {

	
}

.bz-slide-input {

	width:75px;
	
}

select {

	width:14em;;
	text-algin:center;
}


input[type='reset']{

	background:#eee !important;
	padding:0 15px !important;
	text-shadow:none !important;
	color:#000 !important;
	margin:10px 0 !important;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 200px;
	height: 20px;
	border:1px solid #ccc;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 1px;;
	
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.color-picker,
.color-picker::before,
.color-picker::after,
.color-picker *,
.color-picker *::before,
.color-picker *::after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.color-picker {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
}
.color-picker-container {
  background:#000;
  color:#000;
  padding:1px;
  -webkit-box-shadow:1px 5px 10px rgba(0,0,0,.5);
  -moz-box-shadow:1px 5px 10px rgba(0,0,0,.5);
  box-shadow:1px 5px 10px rgba(0,0,0,.5);
  width:calc(11.5em + 3px); /* TODO */
}
.color-picker-container *,
.color-picker-container *::before,
.color-picker-container *::after {border-color:inherit}
.color-picker-container::after {
  content:"";
  display:table;
  clear:both;
}
.color-picker i {
  font:inherit;
  font-size:12px; /* measure the color control size by measuring the text size */
}
.color-picker-h {
  position:relative;
  width:1.5em;
  height:10em;
  float:right;
  cursor:ns-resize;
  background:transparent url('color-picker-h.png') no-repeat 50% 50%;
  background-image:-webkit-linear-gradient(to top,#f00 0%,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%);
  background-image:-moz-linear-gradient(to top,#f00 0%,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%);
  background-image:linear-gradient(to top,#f00 0%,#ff0 17%,#0f0 33%,#0ff 50%,#00f 67%,#f0f 83%,#f00 100%);
  -webkit-background-size:100% 100%;
  -moz-background-size:100% 100%;
  background-size:100% 100%;
  overflow:hidden;
}
.color-picker-h i {
  position:absolute;
  top:-.25em;
  right:0;
  left:0;
  z-index:3;
  display:block;
  height:.5em;
}
.color-picker-h i::before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:block;
  border:.25em solid;
  border-color:inherit;
  border-top-color:transparent;
  border-bottom-color:transparent;
}
.color-picker-sv {
  position:relative;
  width:10em;
  height:10em;
  float:left;
  margin-right:1px;
  background:transparent url('color-picker-sv.png') no-repeat 50% 50%;
  background-image:-webkit-linear-gradient(to top,#000,rgba(0,0,0,0)),linear-gradient(to right,#fff,rgba(255,255,255,0));
  background-image:-moz-linear-gradient(to top,#000,rgba(0,0,0,0)),linear-gradient(to right,#fff,rgba(255,255,255,0));
  background-image:linear-gradient(to top,#000,rgba(0,0,0,0)),linear-gradient(to right,#fff,rgba(255,255,255,0));
  -webkit-background-size:100% 100%;
  -moz-background-size:100% 100%;
  background-size:100% 100%;
  cursor:crosshair;
}
.color-picker-sv i {
  position:absolute;
  top:-.4em;
  right:-.4em;
  z-index:3;
  display:block;
  width:.8em;
  height:.8em;
}
.color-picker-sv i::before,
.color-picker-sv i::after {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:block;
  border:1px solid;
  border-color:inherit;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}
.color-picker-sv i::before {
  top:-1px;
  right:-1px;
  bottom:-1px;
  left:-1px;
  border-color:#fff;
}
.color-picker-h,
.color-picker-sv {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
}
 

.biz-text-wrapper h2 a {

	font-size:1.50em;
	padding:.5em;

}

h3:not(:first-of-type) {

	
	margin-top:2em;

}



.biz-text-wrapper .nav-tab-wrapper {

	padding-bottom:0 !important;
}

.nav-tab-active {

	background:none;
	border-bottom:1px solid #fff;
}

.tabcontentBT h2  {

		font-size:1.50em !important;
		 
}

.biz-text-wrapper #display-type-wrapper {
	
	box-sizing: border-box;
	display:block;
	line-height:initial;
	padding:5px 10px 25px 10px;
	border-color:#ccc;
	border-width:0 0 1px 0;
	border-style:solid;
	max-width:800px;
	margin-bottom:2em;
	
	}

.biz-text-wrapper #web-btn {overflow:auto !important;padding:10px;}

.biz-text-wrapper tr:first-of-type {

	/*border-bottom:1px #ccc solid;*/
}

.biz-text-wrapper tr td {

	padding-top: .35em;
	padding-bottom: .35em;
}

.biz-text-wrapper .label-td {

	width:15em;
	padding-left:3em;
	
	
}

.biz-text-wrapper table .panel .label-td {width:11.5em;padding-left:1.5em;}

.biz-text-wrapper table .panel  {

	 
	padding-left:0;
	background:#eee;
	margin-left:1.5em;

	
}


.no-indent{

	width:18em;
	padding-left:0;
}



.biz-text-wrapper .left-indent {
margin-left:1.85em;

}

#post-body-content-inner {

	width:70%;
	float:left;
	border:none !important;
}

#postbox-container-1-inner {

	width:30% !important;
	float:left;
}

#post-body-content-inner .postbox, #postbox-container-1-inner .postbox {

	border:none !important;


}

#html_code_box, #html_code_box_link {

	height:100px;
	max-width:47em;;
	
}

.html-code-box {

	border: 1px solid #ccc;
	box-sizing: border-box;
	padding:10px;
	overflow-y: scroll;
	margin-top:1em;
	background:#fff;
}



@media only screen and (max-width: 1200px){




}










.inside {
	
	overflow:auto;
}

.biz-text-wrapper .display-row {

	clear:both;
	padding-top:.75em;
}

/* tabs styles */

/* Style the tab */
.tabBT {
  overflow: hidden;
   
  box-sizing:content-box;

}

/* Style the buttons that are used to open the tab content */
.tabBT button {
  background-color: #eee;
  float: left;
  border: none;
  font-size:1.5em;
  
  border:1px solid #ccc;
  margin-left:1em;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

}

/* Change background color of buttons on hover */
.tabBT button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabBT button.active {
  background-color: #fff;
  border-bottom:1px solid #fff;
  z-index:2; 

}

/* Style the tab content */
.tabcontentBT {
  margin-top:-1px;
  display: none;
  padding: 20px 12px;
  border-top: 1px solid #ccc;

}

.img-logo {

	padding:10px;
	width:150px;

}

.tabcontentBT {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* slider */



.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #666;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #666;
  cursor: pointer;
}

.notice-success {

 	color:#46b450;

}

.notice-error {
	color:#dc3232;

}

.accordion.notice-warning {

	
	display:inline-block !important;
	width:auto;
	
}



.biztext-advanced-options, .accordion.notice-warning {

	color:#3b74b2;
}




.accordion.notice-warning:hover,.biztext-advanced-options:hover {

	color:#ee8022;
	
}

#not-logged-in {
	
	background:#3b74b2;
	color:#fff;
	padding:10px;
	cursor:pointer;
	display:inline-block;

}



.notice-success, .notice-error {

	font-size:1.3em;
	
	padding:5px;
}

img {
  max-width: 100%;
  height: auto;
}


@media only screen and (max-width: 1680px){

	.biz-text-wrapper #poststuff #post-body.columns-2 {

		margin-right:0px;

		}


	.biz-text-wrapper #post-body-content {

		width:100% !important;
		float:none;
		min-width:none !important;
		margin:0 !important;

	}

    .biz-text-wrapper #post-body.columns-2 #postbox-container-1 {

    	float:none;
    	margin-right:0;
    	width:100%;
    	 
    }

 



}



@media only screen and (max-width: 1024px){

	
	#post-body-content-inner, #postbox-container-1-inner {

		width:100%;
		float:none;
		 
	}

	#right-column-half, #left-column-half {

		width:100%;
		float:none;
	}


}

@media only screen and (max-width: 860px){

   .biz-text-wrapper .label-td {

		width:97%;
		padding-left:0;
	
	
	}

	.form-table {

		margin-left:3em;
	    
	    max-width:600px;
	  

	}

	.tabBT button {

		font-size:1.15em;
		padding:5px;
		margin-left:0;
	}




}